<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr><th>Artist</td> <td><%= @track.artist %></td></tr>
      <tr><th>Title</td> <td><%= @track.title %></td></tr>
      <tr><th>Label</td> <td><%= @track.label %></td></tr>
      <tr><th>BBC Record ID</td> <td><%= link_to(@track.record_id, @track.tupac_page) %></td></tr>
      <tr><th>iLikeMusic ID</td> <td><%= @track.ilm_id.nil? ? 'n/a' : link_to(@track.ilm_id, @track.ilm_info_page, target: '_blank') %></td></tr>
      <tr><th>Official Chart ID</td> <td><%= @track.occ_product_id %></td></tr>
      <tr><th>Updated At</td> <td><%= @track.updated_at %></td></tr>
      <tr><th>Created At</td> <td><%= @track.created_at %></td></tr>
    </table>
  </div>

  <div class="col-md-4">
    <% unless @track.image_url.nil? %>
      <%= image_tag(@track.image_url('400x400'), class: 'img-thumbnail') %>
    <% end %>
  </div>
</div>

<h2>Charts</h2>

<ul>
  <% @track.entries.each do |entry| %>
    <li><%= link_to("#{entry.chart.date} - ##{entry.position}", entry.chart) %></li>
  <% end %>
</ul>
