<p id="notice"><%= notice %></p>

<table class="table table-condensed chart">
  <thead>
    <tr>
      <th>#</th>
      <th>Artwork</th>
      <th>Artist</th>
      <th>Title</th>
      <th>iLM</th>
    </tr>
  </thead>
  
  <tbody class="table-striped">
    <% @entries.each do |entry| %>
      <tr>
        <td class="position"><%= entry.position %></td>
        <td class="image"><%= link_to(image_tag(entry.track.image_url, size: '64x64'), entry.track.tupac_page) %></td>
        <td class="artist"><%= entry.track.artist %></td>
        <td class="title"><%= link_to(entry.track.title, entry.track) %></td>
        <td>
        <% unless entry.track.ilm_id.nil? %>
          <%= link_to('▶', entry.track.ilm_player_page, target: '_blank') %>
          <%= link_to(entry.track.ilm_id, entry.track.ilm_info_page, target: '_blank') %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
